@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* reset css */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*scroll-behavior: hành động cuộn trang*/

html {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}


/* common*/

.clear {
    clear: both;
}


/* mt là margin-top*/

.mt-8 {
    margin-top: 8px;
}

.mt-16 {
    margin-top: 16px;
}


/* row - columns layout*/

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third {
    width: 33.3333%;
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}

.text-center {
    text-align: center !important;
}

.pull-right {
    float: right !important;
}


/* tạo class dùng cho tất cả các text*/

.text-white {
    color: #fff !important;
}

#main {}


/* tạo phần header
cố định thanh nav bằng fixed 
top, left và right đểchắc chắn thanh nav nằm đúng vị trí 
thêm z-index để thanh nav nổi lên*/

#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;
}


/*chỉnh cho ul có nội dung dài từ home đến more để có chỗ cho search icon*/

#nav {
    display: inline-block;
}


/*định dạng style*/

#nav,
.subnav {
    list-style-type: none;
}


/* inline là trên 1 hàng và block có tính chất khối */

#nav li {
    position: relative;
}


/* hover đầy đủ */

#nav>li {
    display: inline-block;
}


/*ẩn subnav, thêm bóng đổ 
đặt min-width để sau này content dài ra thì nó vẫn dài ra
thêm top: 100%; left: 0; để tránh các trình duyệt khác bị lỗi hiển thị*/

#nav .subnav {
    display: none;
    min-width: 160px;
    top: 100%;
    left: 0;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}


/* tạo màu chữ, bỏ gạch chân, căn giữa
đổi từ inline-block thành block để có thể hover đầy đủ */

#nav li a {
    color: #fff;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}


/* hover khi chạm vào thẻ 
khi hover vào thẻ li là con của nav thì con của li đc hover a*/

#nav>li:hover>a {
    color: #000;
    background-color: #ccc;
}

#nav>li>a {
    color: #fff;
    text-transform: uppercase;
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}


/*hover riêng cho cấp 2 
có thể viết gộp giữa cấp 2 và cấp 1 như sau:
#nav>li:hover>a,
#nav .sunav li:hover a {}*/

#nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
}


/* di vào li hiện ra con là .subnav*/

#nav li:hover .subnav {
    display: block;
}


/* thêm mũi tên vào more
để tránh việc sau này có thể thay icon cho dễ css*/

#nav .nav-arrow-down {
    font-size: 13px;
}


/* tạo nút search ở thanh nav*/

#header .mobile-menu-btn,
#header .search-btn {
    float: right;
    padding: 0 21px;
}

#header .menu-mobile-icon,
#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}


/*hover vào search button*/

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .mobile-menu-btn:hover {
    background-color: #ccc;
}

#header .mobile-menu-btn:hover .menu-mobile-icon {
    color: #000;
}


/*tránh cho thanh nav đè slider thêm margin-top = vs height của nav
điều chỉnh cho backgroung k bị lặp lại
url thể hiện cho background-img; 
top center thể hiện cho backgroung-position
sau dấu gạch chéo thì cover thể hiện cho background-size
no-repeat đại diện cho background-repeat*/

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/img/slider/pepsi.jpg') top center / cover no-repeat;
}


/* định dạng text-content trong slider*/

#slider .text-content {
    position: absolute;
    bottom: 47px;
    color: #fff;
    width: 100%;
    /*có thể dùng cách này:
    left: 50%;
    transform: translateX(-50%);*/
    text-align: center;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: -20px;
}

#slider .text-heading:hover {
    transform: scale(1.2);
    color: #f44336;
    transition: 0.5s;
}

#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
}

#content {}


/*định dạng content*/

#content .content-section {
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 112px;
    padding-left: 16px;
    padding-right: 16px;
}


/*căn giữa heading vs slogan*/

#content .section-heading,
#content .section-sub-heading {
    text-align: center;
}


/*dùng letter-spacing để tạo khoảng cách giữa các chữ*/

#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
    margin: 10px 0;
}

#content .section-sub-heading {
    font-size: 15px;
    margin: 15px;
    font-style: italic;
    opacity: 0.6;
}


/*row; contact-content*/

.contact-content {
    margin-top: 48px;
    padding: 32px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}


/*căn đều đoạn văn*/

#content .about-text {
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}


/* điều chỉnh ảnh lên 1 hàng*/

#content .member-list {
    margin-top: 47px;
}


/* điều chỉnh member name*/

#content .member-name {
    text-align: center;
    font-size: 20px;
}


/*điều chỉnh ảnh*/

#content .member-img {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}

#content .member-img:hover,
#content .member-name:hover {
    transform: scale(1.2);
    transition: 0.5s;
}


/* định dạng tour section*/

#content .tour-section {
    background-color: #000;
}

.tickets-list {
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
}

.tickets-list li {
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
}

.tickets-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.tickets-list .quantity {
    background-color: #000;
    color: #fff;
    height: 24px;
    width: 24px;
    float: right;
    border-radius: 50%;
    line-height: 24px;
    text-align: center;
    margin-top: -2px;
}


/* tạo thẻ div chứa tour places*/


/* dùng margin âm để căn 2 bên cho img trong places-list*/

.places-list {
    margin-top: 32px;
}


/*xóa khoảng cách giữa img vs phần dưới thêm display: block*/

.place-img {
    width: 100%;
    display: block;
    height: 220px;
}


/* hover cho img*/

.place-img:hover {
    opacity: 0.6;
    transition: 0.4s;
}


/*tạo background cho body */

.place-body {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-heading {
    font-size: 15px;
    font-weight: 600;
}

.place-time {
    margin-top: 15px;
    color: #757575;
}

.place-desc {
    margin-top: 15px;
    line-height: 1.4;
}


/*btn dùng chung để hover*/

.btn {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
    outline: none;
    font-weight: 600;
}


/* hover btn*/

.btn:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}


/*giao diện modal*/


/*tạo lớp overflow*/

.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    /*đổi từ flex thành none để ẩn modal*/
    align-items: center;
    justify-content: center;
}

.modal.open {
    display: flex;
}


/*tạo background cho modal*/


/*thêm max-width cho modal-container*/

.modal-container {
    background: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease;
    animation-duration: 0.5s;
}


/*định dạng cho modal-header*/

.modal-header {
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}


/*tạo khoản cách cho ti-bag*/

.modal-heading-icon {
    margin-right: 16px;
}


/*tạo nút close đóng modal thêm position:relative cho modal-container*/

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    opacity: 0.8;
    cursor: pointer;
    font-weight: bold;
}

.modal-close:hover {
    opacity: 1;
    color: #f44336;
}


/*định dang modal-body của modal*/

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    font-size: 15px;
    margin-top: 12px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}


/*nút pay*/

#buy-tickets {
    width: 100%;
    padding: 18px;
    background: #009688;
    border: none;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
    cursor: pointer;
    transition: 0.5s;
}

#buy-tickets:hover {
    opacity: 0.8;
    background: #ccc;
    color: #000;
}


/* khi bấm button thì modal trôi xuống*/

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-150px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/*footer của modal*/

.modal-footer {
    padding: 16px;
    text-align: right;
}

.modal-footer a {
    color: #2196f3;
}


/*map-section*/

.map-section img {
    width: 100%;
}


/* định dạng footer section*/

#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .footer-hover {
    color: #757575;
    font-size: 24px;
    padding: 2px;
}

#footer .footer-hover:hover {
    transform: scale(1.5);
}

#footer .footer-p {
    font-size: 15px;
    margin: 15px 0;
    color: #000000;
}